.container-fluid{
    width: 100%!important;
    margin: 0!important;
   
    padding: 0!important;
}
.owl-slider1 img{
    max-width: 100%;
    height: 450px;
}
.owl-slider1 button.owl-next{
    background-color: tomato!important;
    color: rgb(255, 255, 255)!important;
    width: 90px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
}
.owl-slider1 button.owl-prev{
    background-color: tomato!important;
    color: rgb(255, 255, 255)!important;
    width: 90px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
}
.owl-slider2 .owl-item{
    margin-bottom: 20px;
    position: relative;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(red, green, blue, alpha);
}
.owl-slider2 .owl-item.active.center{
    transform: scale(1.15);
    opacity: 1;
}

.card-img{
    width: 100%!important;
    height: 120px!important;
}

.owl-nav { display: block !important; }
.owl-dots { display: block !important; }